.header {
  background: url("../assets/landing/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}

.header__title {
  font-size: 3.75rem;
  margin: 0;
}

.header__description {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0;
}

.header__button {
  font-size: 2.25rem;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  border: 1px solid #000;
  border-radius: 25px;
  margin-top: 100px;
  text-decoration: none;
  display: inline-block;
}

.header__content {
  margin-top: 50px;
}

.services {
  padding: 100px 15px;
}

.services__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__heading {
  font-size: 3rem;
  font-weight: 300;
}

.service {
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.service__image {
  height: 75px;
}

.service__description {
  margin-left: 20px;

}

.tours {
  display: flex;
}

.tour {
  width: 100%;
  min-height: 356px;
  background-size: cover;
  position: relative;
}

.tour__content {
  opacity: 0;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  position: absolute;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.tour__details {
  background-color: #efc42b;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  padding: 10px 30px;
}

.tour__title {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.tour:hover .tour__content {
  opacity: 1;
}

.ordering {
  background-image: url("../assets/landing/form_bg.png");
  background-size: cover;
  margin: 100px auto;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.ordering__controls {
  display: flex;
  flex-direction: column;
  max-width: 225px;
}

.ordering__input {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  font-size: 1.5rem;
}

.ordering__input::placeholder {
  color: #fff;
}

.ordering__submit {
  background-color: #efc42b;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  padding: 5px;
}

.ordering__title {
  max-width: 350px;
  margin-left: 70px;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 300;
}

.reviews {
  background: linear-gradient(180deg, rgba(131, 165, 255, 0) 0%, #008cd9 100%);
}

.reviews__title {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

.reviews__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  text-align: center;
  margin-bottom: 50px;
}

.review__avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.review__name {
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: 500;
}

.review__text {
  font-size: 1.5rem;
}

.landing__footer {
  background: #008cd9;
  border: 0.5px solid #000;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .service {
    box-sizing: border-box;
    padding: 30px 15px;
  }
  .service__image {
    height: 50px;
  }

  .services__content {
    justify-content: center;
  }

  .tour {
    min-height: 170px;
  }
    .service__description {
        font-size: 14px;
    }
}

@media screen and (max-width: 750px) {
  .tours {
    flex-direction: column;
  }

  .tour {
    min-height: 250px;
  }

  .ordering {
    flex-direction: column;
  }

  .ordering__title {
    margin: 0;
    margin-bottom: 50px;
  }

  .ordering__submit {
    margin-top: 100px;
    padding: 15px;
  }

  .reviews__content {
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
  }

  .review {
    box-sizing: border-box;
  }
}
